/* Estilo general para todos los elementos */
* {
  font-family: consolas;
  border-radius: 5px;
}

/* Estilo para botones */
button {
  font-weight: 800;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #009b77;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Estilo cuando se pasa el mouse sobre los botones */
button:hover {
  font-weight: bolder;
  background-color: #007a5e;
  transform: scale(1.05);
}

/* Estilo para campos de entrada de texto */
input {
  text-align: center;
  font-weight: 600;
  height: 22px;
}

/* Estilo cuando el campo de entrada de texto está enfocado */
input:focus {
  background-color: lightblue;
}

/* Estilo para el encabezado h1 */
h1 {
  text-align: center;
  margin: 0 0 20px 0;
  padding: 10px;
  color: white;
  background-color: #363945;
}

/* Estilo para encabezado h2 */
h2 {
  background-color: #ddffdd;
  border-left: 6px solid #04aa6d;
  text-align: center;
  margin: 0;
}

/* Estilo para el elemento con ID "Info" */
#Info {
  margin: 10px 0 5px 0;
  padding: 10px 10px;
  height: 135px;
  overflow: auto;
  display: block;
  text-align: center;
  background-color: #e7f3fe;
  border-left: 6px solid #2196f3;
}

/* Estilo para los encabezados h3 dentro de "Info" */
#Info h3 {
  margin: 0 0 10px 0;
}

/* Estilo para párrafos dentro de "Info" */
#Info p {
  margin: 0;
  padding: 0;
}

/* Estilo para el elemento con ID "Error" */
#Error {
  font-weight: 700;
  height: 50px;
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* Estilo para párrafos dentro de "Error" */
#Error p {
  margin: 0;
  padding: 0;
}

/* Estilo para el contenedor con clase "MainInput" */
.MainInput {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

/* Estilo para el elemento con ID "Create_By_List" */
#Create_By_List {
  display: flex;
  justify-content: center;
  width: 50%;
  gap: 10px;
}

/* Estilo para la etiqueta dentro de "Create_By_List" */
#Create_By_List label {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo para el elemento con ID "Create_By_Text" */
#Create_By_Text {
  display: flex;
  justify-content: center;
  width: 50%;
  gap: 10px;
}

/* Estilo para el campo de entrada de texto dentro de "Create_By_Text" */
#Create_By_Text input {
  flex: 1;
}

/* Estilo para el contenedor con clase "Input_Graph" */
.Input_Graph {
  display: flex;
  height: 350px;
  gap: 20px;
  margin-bottom: 20px;
}

/* Estilo para el elemento con ID "AdjacentList" */
#AdjacentList {
  width: 50%;
  overflow: scroll;
  text-align: center;
  flex-wrap: wrap;
  gap: 5px;
  display: flex;
  justify-content: center;
}

/* Estilo para los párrafos dentro de "AdjacentList" */
#AdjacentList p {
  display: flex;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  background-color: #88b04b;
}

/* Estilo para todos los elementos dentro de "AdjacentList" */
#AdjacentList * {
  width: 95%;
  margin: 0;
  padding: 0;
}

.Conex {
  display: flex;
  height: 27px;
  align-items: center;
}

.Conex button {
  background-color: #5f626e;
}

.Conex * {
  height: 100%;
}

/* Estilo para el elemento con ID "cy" */
#cy {
  border: 1px solid;
  border-radius: 5px;
  display: none;
  width: 50%;
}

/* Estilo para el contenedor con clase "Titles" */
.Titles {
  display: flex;
  margin: 0 0 20px 0;
}

/* Estilo para los encabezados h3 dentro de "Titles" */
.Titles h3 {
  text-align: center;
  width: 50%;
  margin: 0;
  background-color: #ddffdd;
  border-bottom: 2px solid #04aa6d;
}

/* Estilo para el contenedor con clase "Final_Results" */
.Final_Results {
  display: flex;
  gap: 20px;
}

/* Estilo para el elemento con ID "Tables" */
#Tables {
  width: 50%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap-reverse;
  border-radius: 5px;
  padding: 10px;
}

/* Estilo para el elemento "caption" dentro de las tablas */
caption {
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid;
  font-weight: 800;
}

/* Estilo para las tablas */
table {
  border-collapse: collapse;
  width: 100%;
}

/* Estilo para filas pares en las tablas */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Estilo para encabezados de columna y celdas de tabla */
th,
td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

/* Estilo para celdas de tabla */
td {
  background-color: white;
}

/* Estilo para el elemento con ID "BestPath" */
#BestPath {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  background-color: #ddffdd;
}

/* Estilo para los párrafos dentro de "BestPath" */
#BestPath p {
  font-weight: 900;
  font-size: large;
  color: #04aa6d;
}
