.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container button {
  height: 30px;
}

.container button:hover {
  color: white;
  background-color: black;
}

.mini {
  display: flex;
  gap: 10px;
}

.mini label {
  width: 20%;
}

.mini input {
  width: 100%;
  font-size: medium;
}
